<% @comments.sort_by{ |comment| comment.votes_result }.reverse.each do |comment| %>
  <div class="row commentshowdiv">
    <div class="col-2 col-md-1 p-2">
      <% user_vote = current_user.votes.find_by_comment_id(comment) if user_signed_in? %>
      <%= comment_vote(user_vote, comment).html_safe if user_signed_in? %>
    </div>
    <div class="col-2 col-md-1 p-2">
      <% if comment.user.default_image? %>
        <%= image_tag comment.user.default_image, class: 'commentsprofileimage' %>
      <% else %>
        <%= image_tag attachment_url(comment.user, :profile_image, :fill, 50, 50, fallback: 'defaultprofileimage'), class: 'commentsprofileimage' %>
      <% end %>
    </div>
    <div class="col-7 col-md-9 p-2">
      <div class="commentshowheader linktoauthorshow">
        <%=link_to comment.user.full_name, comment.user %>
        <%=time_ago_in_words(comment.created_at) %> ago
      </div>
      <div class="commentshowbody">
        <%= comment.body %><br />
        <% if can?(:crud, comment) %>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
