<h5><%= @user.full_name+'\'s ' + @title %></h5>
<% @users.each do |user| %>
  <%=link_to user do %>
    <% if user.profile_image.present? %>
      <%= image_tag attachment_url(user, :profile_image, :fill, 50, 50, fallback: 'defaultprofileimage'), class: 'commentsprofileimage' %>
    <% elsif user.default_image.present? %>
      <%= image_tag user.default_image, class: "commentsprofileimage"%>
    <% end %>
    <%=user.full_name%>
  <% end %>
  <br />
<% end %>
