<% title @user.full_name + '\'s Profile' %>

<div class="row p-3" style="display: flex; align-items: center">
  <% if @user.profile_image.present? %>
    <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, fallback: 'defaultprofileimage'), class: 'usershowprofileimage' %>
  <% elsif @user.default_image.present? %>
    <%= image_tag @user.default_image, class: "usershowprofileimage"%>
    <%#= image_tag attachment_url(@user, :default_image, :fill, 100, 100, fallback: 'defaultprofileimage'), class: 'usershowprofileimage' %>
    <!-- <img src="<%=@user.default_image%>" class="usershowprofileimage"> -->
  <% end %>
  <div>
    <h1><%=@user.full_name%>'s Profile</h1>
    <% if current_user&.following?(@user) %>
      <%= link_to 'Unfollow', relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), method: :delete, class: 'btn btn-outline-success btn-sm follow-button' %> (<%= pluralize(@user.followers.count, 'follower') %>)
    <% else %>
      <%# if current_user != @user %>
      <% if can?(:follow, @user) %>
        <%= link_to 'Follow', relationships_path(@user.id), method: :post, class: 'btn btn-success btn-sm follow-button' %>
      <% end %>
      (<%=link_to followers_user_path(@user) do %><%= pluralize(@user.followers.count, 'follower') %><%end%>)
    <% end %>
  </div>
</div>


<ul class="nav nav-tabs" id="user-show-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">Overview</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab">All Contributions</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" id="posts-tab" data-toggle="tab" href="#posts">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="media-tab" data-toggle="tab" href="#media">Media</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="reviewlists-tab" data-toggle="tab" href="#reviewlists">Review List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="following-tab" data-toggle="tab" href="#following">Following</a>
  </li>
</ul>
<div class="tab-content" id="user-show-tab-content">
  <div class="tab-pane p-2 fade show active" id="home" role="tabpanel">

    <div class="row my-3">
      <div class="col-md-6">
        <div class="border p-3 ml-2 mr-1">
          <strong>First Name:</strong> <%= @user.first_name %><br />
          <strong>Last Name:</strong> <%= @user.last_name %><br />
          <strong>Interests: </strong>
          <% if @user.tags.present? %>
            <% @user&.tags[0...-1].each do |tag| %>
              <%=link_to tag&.name, tag %><%= + ", " %>
            <% end %>
            <%=link_to @user&.tags&.last&.name, @user&.tags&.last %>
          <% end %>
          <br />
          <strong>Email:</strong> <%= @user.email %><br />
          <% if can?(:crud, @user) %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-warning' %>
            <%#= link_to "Delete", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="border p-3 mr-2 ml-1">
          <strong>All Content:</strong> <%= @user.contributions.size %><br />
          <strong>Posts:</strong> <%= @user.posts.size %><br />
          <strong>Images:</strong> <%= @user.images.size %><br />
          <strong>Audios:</strong> <%= @user.audios.size %><br />
          <strong>Videos:</strong> <%= @user.videos.size %><br />
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-6">
        <div class="border p-3 ml-2 mr-1">
          <div>
            <%= pie_chart [['Posts', @user.posts.count],['Images', @user.images.count],['Videos', @user.videos.count],['Audios', @user.audios.count]], donut: true %>
          </div>
          <div>
            <strong>Contribution Summary. </strong> Break-down of user contributions by content type.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="border p-3 mr-2 ml-1">
          <div>
            <%= line_chart [{ name: 'Posts', data: @user.posts.where('created_at > ?', (Time.now - 2.weeks)).group_by_day(:created_at).count },
              { name: 'Media', data: @user.media.where('created_at > ?', (Time.now - 2.weeks)).group_by_day(:created_at).count },
              { name: 'Comments', data: @user.comments.where('created_at > ?', (Time.now - 2.weeks)).group_by_day(:created_at).count }] %>
          </div>
          <div>
            <strong>Activity Summary. </strong> User activity over last two weeks by type.
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="tab-pane p-2 fade" id="all" role="tabpanel">

    <h3>All Contributions</h3>
    <% @user.contributions.each do |c| %>
    <p>
      <%= link_to c.title, c %>
    </p>
    <%end%>

  </div> -->
  <div class="tab-pane p-2 fade" id="posts" role="tabpanel">
    <!-- <h5>Published</h5> -->
    <%= render partial: 'posts/posts_list', locals: { posts: @user.posts.where({published: true}).created_at_desc }%>
    <p></p>
    <% if can?(:crud, @user) %>
      <h5>Unpublished</h5>
      <%= render partial: 'posts/posts_list', locals: { posts: @user.posts.where({published: false}).created_at_desc }%>
      <%#= render partial: 'shared/pagination', locals: {model: @user.posts.created_at_desc } %>
    <% end %>
  </div>
  <div class="tab-pane p-2 fade" id="media" role="tabpanel">
    <!-- <h3>All Media (By Most Recent)</h3> -->
    <%# @user.media.created_at_desc.each do |m| %>
      <%#= link_to m.title, m %>
    <%#end%>
    <h5>Images</h5>
    <% @user.images.created_at_desc.each do |m| %>
      <%= link_to m.title, m %><br />
    <%end%>
    <p></p>
    <h5>Audios</h5>
    <% @user.audios.created_at_desc.each do |m| %>
      <%= link_to m.title, m %><br />
    <%end%>
    <p></p>
    <h5>Videos</h5>
    <% @user.videos.created_at_desc.each do |m| %>
      <%= link_to m.title, m %><br />
    <%end%>

  </div>
  <div class="tab-pane p-2 fade" id="reviewlists" role="tabpanel">
    <div class="row">
      <div id="reviewlists-sortable" data-url="<%=sort_reviewlists_path%>" class="col-12">
        <% @user.reviewlists.order(:position).each do |item| %>
          <%=link_to item.reviewable, class: "reviewlists-item", id: dom_id(item) do %>
            <%=fa_icon'arrows-v', style: 'color: black' %>
            &nbsp; <%=item.reviewable.title %>
            <span style="color: black;" class="reviewable-date">
              <form class="form-inline d-inline-flex">
                <div class="input-group date">
                  <input type="text" value="<%=item&.start_date&.strftime("%m\/%d\/%Y")%>" data-provide='datepicker' data-reviewlist-id="<%=item.id%>" class="reviewable-input-field">
                  <div class="input-group-append">
                    <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                  </div>
                </div>
              </form>
            </span>
          <%end%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div id="showreviewcalendar" class="col-12">
        <button class="btn btn-primary my-3">Toggle Calendar</button>
      </div>
    </div>
    <div class="row">
      <div id="reviewcalendar" class="col-12 hidecalendar"></div>
    </div>
  </div>
  <div class="tab-pane p-2 fade" id="following" role="tabpanel">
    <h5>Recently Followed</h5>
    <% @user&.active_relationships&.order(created_at: :desc).limit(5).each do |f| %>
      <%= link_to User&.find(f.followed_id)&.full_name, user_path(f.followed_id)  %><br />
    <%end%>
    <p></p>
    <h5>Recent Posts</h5>
    <% @following_posts&.limit(10).each do |post| %>
      <%= link_to post do%><%=post&.title %><% end %><span style="font-size: 0.8em;"> by <%= post&.user&.full_name%></span><br />
    <%end %>
    <p></p>
    <h5>Recent Media</h5>
      <div style="display: flex; flex-wrap: wrap">
      <% @following_media.limit(3).each do |medium| %>
        <div class="show_medium_div border p-1 my-1" style="width: 250px; height: 250px; overflow: hidden; display:inline-flex; flex-direction:column">
          <div class="medium_content">
            <%if medium.is_image? %>
              <%=link_to image_tag(attachment_url(medium, :attachment_file, :fill, 240, 200)), medium %>
            <% elsif medium.is_audio? %>
              <%=link_to medium do %><%= audio_tag attachment_url(medium, :attachment_file), controls: true, width: '240px', autoplay: false %><% end %>
            <% elsif medium.is_video? %>
              <%=link_to medium do %><%= video_tag attachment_url(medium, :attachment_file), controls: false, width: '240px', autoplay: false %><% end %>
            <% end %>
          </div>
          <div class="medium_caption">
            <h6 style="text-overflow:ellipsis;"><%= medium.title %></h6>
          </div>
        </div>
      <%end %>
    </div>

  </div>

</div>
