<%# I created this shared partial for the sidebar %>
<%= simple_form_for :user, method: :post, url: '/users' do |f| %>
  <%= f.input :first_name, label: false, input_html: { id: 'signup-fn' }, placeholder: 'First name', autofocus: true, autocomplete: "first_name" %>
  <%= f.input :last_name, label: false, input_html: { id: 'signup-ln' }, placeholder: 'Last name', autofocus: true, autocomplete: "last_name" %>
  <%= f.input :email, label: false, input_html: { id: 'signup-em' }, placeholder: 'Email', autofocus: true, autocomplete: "email" %>
  <%= f.input :password, label: false, input_html: { id: 'signup-pw' }, placeholder: 'Password', autocomplete: "off" %>
  <%= f.input :password_confirmation, label: false, input_html: { id: 'signup-pwc' }, placeholder: 'Re-enter password', autocomplete: "off" %>
  <%= f.submit "Sign up", class: 'btn btn-dark' %>
<% end %>
<div class="fbicon mt-3">
  <a href="/users/auth/facebook">
    <span class="btn oauthicons">
      <img src="/layout/fb.svg.png" height="20px">&nbsp; Sign up with facebook
    </span>
  </a>
</div>
<div class="ggicon">
  <a href="/users/auth/google_oauth2">
    <span class="btn oauthicons">
      <img src="/layout/gg.svg.png" height="20px">&nbsp; Sign up with google
    </span>
  </a>
</div>
<%#= render "devise/shared/links" %>
