<%= simple_form_for @medium do |f| %>
  <%= f.input :title, placeholder: 'Title', label: false %>
  <!-- Tags<br /> -->
  <%= f.association :tags, label: false, collection: Tag.all, input_html: { class: 'chosen-select form-control', multiple: true } %>
  <%= f.input :description, placeholder: 'Description', label: false %>
  <%= f.attachment_field :attachment_file, class: 'form-control' %>
  <div id="references" class="border my-2 p-2">
    <strong>References</strong>
    <%= f.simple_fields_for :references do   |ref| %>
      <%= render 'shared/reference_fields', f: ref %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "<i class='fa fa-plus' style='color:green'></i> add reference".html_safe, f, :references, partial: 'shared/reference_fields' %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary my-3' %>
<% end %>
