<% title @medium.title %>
<h1><%= @medium.title %></h1>

<div class="row p-3" style="display: flex; align-items: center">
  <% if @medium.user.profile_image.present? %>
    <%= image_tag attachment_url(@medium.user, :profile_image, :fill, 100, 100, fallback: 'defaultprofileimage'), class: 'authorsprofileimage' %>
  <% elsif @medium.user.default_image.present? %>
    <%= image_tag @medium.user.default_image, class: "authorsprofileimage"%>
  <% end %>
  <div class="linktoauthorshow">
    <%=link_to @medium.user&.full_name, @medium.user %><br />
    Created <%= @medium.created_at.strftime("%b %d %Y") %><br />
    #medium.author.interests<br />
    #follow(medium.author)<br />
  </div>
</div>

<%if can?(:crud, @medium) %>
<p>
  <%= link_to 'Delete Medium', @medium, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%= link_to 'Edit', edit_medium_path(@medium), class: 'btn btn-warning' %>
</p>
<% end %>

<p>
  <%if @medium.is_image? %>
    <%=link_to image_tag(attachment_url(@medium, :attachment_file, :limit, 200, 200)), attachment_url(@medium, :attachment_file) %>
  <% elsif @medium.is_audio? %>
    <%= audio_tag attachment_url(@medium, :attachment_file), controls: true, width: '400px', autoplay: false %>
  <% elsif @medium.is_video? %>
    <%= video_tag attachment_url(@medium, :attachment_file), controls: false, width: '400px', autoplay: false %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medium.description %>
</p>

<h3>Comments</h3>
<%= render partial: 'comments/form', locals: { commentable: @medium } %>
<%= render 'comments/comments' %>
