<%= simple_form_for @post do |f| %>
  <%= f.input :title, placeholder: 'Title', label: false %>
  <%= f.cktext_area :body, rows: 16 %>
  <div id="media" class="border my-2 p-2">
    <strong>Media</strong>
    <%= f.simple_fields_for :media do   |med| %>
      <%= render 'medium_fields', f: med %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "<i class='fa fa-plus' style='color:green'></i> add media file".html_safe, f, :media  %>
    </div>
  </div>
  <div id="references" class="border my-2 p-2">
    <strong>References</strong>
    <%= f.simple_fields_for :references do   |ref| %>
      <%= render 'reference_fields', f: ref %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "<i class='fa fa-plus' style='color:green'></i> add reference".html_safe, f, :references  %>
    </div>
  </div>
  <%= f.input :published %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
