<% title @post.title %>
<h1><%= @post.title %></h1>

<div class="row p-3" style="display: flex; align-items: center">
  <% if @post.user.profile_image.present? %>
    <%= image_tag attachment_url(@post.user, :profile_image, :fill, 100, 100, fallback: 'defaultprofileimage'), class: 'authorsprofileimage' %>
  <% elsif @post.user.default_image.present? %>
    <%= image_tag @post.user.default_image, class: "authorsprofileimage"%>
  <% end %>
  <div class="linktoauthorshow">
    <%=link_to @post.user&.full_name, @post.user %><br />
    Created <%= @post.created_at.strftime("%b %d %Y") %><br />
    #post.author.interests<br />
    #follow(post.author)<br />
  </div>
</div>

<% if can?(:crud, @post) %>
<p>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %><br />
</p>
<strong>Published:</strong> <%= @post.published %><br />
<% end %>

<p>
  <!-- <strong>Body:</strong> -->
  <%= @post.body.html_safe %>
</p>

<% if @post.media.present? %>
  <h5 style="text-transform:uppercase; font-weight: bold">Attached Media</h5>
  <p>
    <%= render 'show_media' %>
  </p>
<% end %>

<% if @post.references.present? %>
  <h5 style="text-transform:uppercase; font-weight: bold">References</h5>
  <p>
    <%= render 'shared/show_reference' %>
  </p>
<% end %>

<h3>Comments</h3>
<%= render partial: 'comments/form', locals: { commentable: @post } %>
<%= render 'comments/comments' %>
