<% title @post.title %>
<h1><%= @post.title %></h1>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %><br />
<%#= link_to 'Back', posts_path %>
<strong>Published:</strong> <%= @post.published %><br />

<p>
  <!-- <strong>Body:</strong> -->
  <%= @post.body.html_safe %>
</p>

<% if @post.media.present? %>
<p><strong>Attached Media</strong></p>
<%= render 'show_media' %>
<% end %>

<% if @post.references.present? %>
<p><strong style="text-transform:uppercase">References</strong></p>
<%= render 'show_reference' %>
<% end %>

<h2>Comments</h2>
<%= render 'comments/comments' %>
<%= render partial: 'comments/form', locals: { commentable: @post } %>
