<% title @post.title %>
<h1><%= @post.title %></h1>

<div class="row p-3" style="display: flex; align-items: center">
  <% if @post.user.profile_image.present? %>
    <%= image_tag attachment_url(@post.user, :profile_image, :fill, 100, 100, fallback: 'defaultprofileimage'), class: 'authorsprofileimage' %>
  <% elsif @post.user.default_image.present? %>
    <%= image_tag @post.user.default_image, class: "authorsprofileimage"%>
  <% end %>
  <div class="linktoauthorshow">
    <%=link_to @post.user&.full_name, @post.user %><br />
    Created <%= @post.created_at.strftime("%b %d %Y") %><br />
    Interests: <%=@post.user.tag_list %><br />
    <% if current_user&.following?(@post.user) %>
      <%= link_to 'Unfollow', relationship_path(current_user.active_relationships.find_by(followed_id: @post.user)), method: :delete, class: 'btn btn-outline-success btn-sm follow-button' %>
      (<%= pluralize(@post.user.followers.count, 'follower') %>)<br />
    <% else %>
      <%# if current_user != @post.user %>
      <% if can?(:follow, @post.user) %>
        <%= link_to 'Follow', relationships_path(@post.user.id), method: :post, class: 'btn btn-success btn-sm follow-button' %>
      <% end %>
      (<%= pluralize(@post.user.followers.count, 'follower') %>)<br />
    <% end %>
  </div>
</div>

<% if can?(:crud, @post) %>
<p>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %><br />
</p>
<strong>Published:</strong> <%= @post.published %><br />
<% end %>

<% if can?(:reviewlist, @post) && user_signed_in? %>
  <% if @user_reviewlist %>
    <%= link_to fa_icon('list-alt 2x'), reviewlists_path(@user_reviewlist), method: :delete %>
  <% else %>
    <%= link_to fa_icon('list 2x'), post_reviewlists_path(@post), method: :post %>
  <% end %>
<% end %>

<% if can?(:like, @post) && user_signed_in? %>
  <% if @user_like %>
    <%= link_to fa_icon('heart 2x'), like_path(@user_like), method: :delete %>
  <% else %>
    <%= link_to fa_icon('heart-o 2x'), post_likes_path(@post), method: :post %>
  <% end %>
<% end %>
(<%= pluralize(@post.likes.count, 'like') %>)

<p><strong>Tags: </strong> <%= @post.tag_list %><br /></p>

<p>
  <!-- <strong>Body:</strong> -->
  <%= @post.body.html_safe %>
</p>

<% if @post.media.present? %>
  <h5 style="text-transform:uppercase; font-weight: bold">Attached Media</h5>
  <p>
    <%= render 'show_media' %>
  </p>
<% end %>

<% if @post.references.present? %>
  <h5 style="text-transform:uppercase; font-weight: bold">References</h5>
  <p>
    <%= render 'shared/show_reference' %>
  </p>
<% end %>

<h3>Comments</h3>
<%= render partial: 'comments/form', locals: { commentable: @post } %>
<%= render 'comments/comments' %>
