<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>chiliMD
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Dancing+Script" rel="stylesheet">
  </head>
  <body>
    <!-- <div class="container"> -->
      <div class="headerdiv">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark chilimd">
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerTarget">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <%= link_to fa_icon('bars 2x'), root_path, class: "nav-link bar" %>

          <%= link_to raw('chiliMD<span class="appversion">alpha</span>'), root_path, class: "navbar-brand" %>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <%= link_to 'Posts', posts_path, class: "nav-link nav-underline" %>

            <%= link_to 'Media', media_path, class: "nav-link nav-left nav-underline" %>

            <%= simple_form_for :content, method: :get, url: contents_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
              <select name="model_name" class="form-control navdropdownfield">
                <option value="all">All</option>
                <option value="posts">Posts</option>
                <option value="media">Media</option>
                <option value="images">Images</option>
                <option value="audios">Audios</option>
                <option value="videos">Videos</option>
                <option value="tags">Tags</option>
                <option value="users">Users</option>
              </select>
              <input class="form-control navsearchbar" name='search_term' type="search" placeholder="Search...">
              <button class="btn searchbutton" type="submit"><%= fa_icon('search 2x') %></button>
            <% end %>
          </div>

          <% if user_signed_in? %>
            <span class="nav-link">Hello, <%= link_to current_user.first_name, current_user %>!</span>

            <%# if current_user.is_admin? %>
              <%#=link_to 'Dashboard', admin_dashboard_index_path, class: "nav-link" %>

            <%# end %>
            <%= link_to(
              'Sign Out',
              destroy_user_session_path,
              method: :delete,
              data: {confirm: 'Do you really want to sign out?'},
              class: "nav-link signout"
              ) %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link signin" %>

            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link", data: {toggle: "modal", target:"#signUpModal" }%>
          <% end %>

        </nav>
      </div>
      <div class="sidebar hidesidebar">
        <% if user_signed_in? %>
          <p><%= fa_icon('user') %> <%=link_to 'My Profile', current_user %></p>
          <hr />
          <p><%= fa_icon('pencil') %> <%=link_to 'New Post', new_post_path %></p>
          <p><%= fa_icon('upload') %> <%=link_to 'New Medium', new_medium_path %></p>
          <hr />
          <p><%= fa_icon('file-text') %> <%=link_to 'Posts', posts_path %></p>
          <p><%= fa_icon('file-image-o') %> <%=link_to 'Media', media_path %></p>
        <% else %>
          <ul class="nav nav-tabs" id="signintabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="sign_in-tab" data-toggle="tab" href="#sign_in" role="tab">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sign_up-tab" data-toggle="tab" href="#sign_up" role="tab">Sign up</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane show active signintabs" id="sign_in" role="tabpanel" style="padding-top: 1em;">
              <%= render partial: '/shared/sign_in' %>
            </div>
            <div class="tab-pane signintabs" id="sign_up" role="tabpanel" style="padding-top: 1em;">
              <%= render partial: '/shared/sign_up' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="maindiv">
        <div class="container">
          <% if flash[:notice].present?%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%=flash[:notice] %>
              <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
              </button>
            </div>
          <% elsif flash[:alert].present?%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%=flash[:alert] %>
              <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
              </button>
            </div>
          <% end %>
        </div>
        <div class="yield container">
          <%= yield %>
        </div>
      </div>
    <!-- </div> -->

    <!-- Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="signincard">
            <div class="signincardfields">
              <h3>Sign up for <span>chiliMD</span>!</h3>
              <%= simple_form_for :user, method: :post, url: '/users' do |f| %>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <%= f.input :first_name, label: false, placeholder: 'First name', autofocus: true, autocomplete: "first_name"%>
                  </div>
                  <div class="col-12 col-lg-6">
                    <%= f.input :last_name, label: false, placeholder: 'Last name', autofocus: true, autocomplete: "last_name"%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <%= f.input :email, label: false, placeholder: 'Email', autofocus: true, autocomplete: "email"%>
                  </div>
                  <!-- <div class="col-12 col-lg-6">
                    <div class="custom-file" style="margin-bottom: 1em">
                      <%#= f.attachment_field :profile_image, autofocus: true, autocomplete: "off", class: 'custom-file-input' %>
                      <label class="custom-file-label" style="color: #777">Profile picture</label>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <%= f.input :password, label: false, placeholder: 'Password', autocomplete: "off"%>
                  </div>
                  <div class="col-12 col-lg-6">
                    <%= f.input :password_confirmation, label: false, placeholder: 'Re-enter password', autocomplete: "off"%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-9">
                    <%#= f.association :tags, label: false, collection: Tag.all,
                      input_html: { class: 'chosen-select form-control', multiple: true, data: { placeholder: ' Tell us about your interests...' } } %>
                  </div>
                  <div class="col-12 col-lg-3">
                    <%= f.submit "Sign up", class: 'btn btn-danger form-control', style: 'opacity: 0.8' %>
                  </div>
                </div>
              <% end %>
              </div>
            <div class="fbicon mt-2">
              <a href="/users/auth/facebook">
                <span class="btn oauthicons">
                  <img src="/layout/fb.svg.png" height="20px">&nbsp; Sign in with facebook
                </span>
              </a>
            </div>
            <div class="ggicon">
              <a href="/users/auth/google_oauth2">
                <span class="btn oauthicons">
                  <img src="/layout/gg.svg.png" height="20px">&nbsp; Sign in with google
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
