<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>chiliMD
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  </head>
  <body>
    <!-- <div class="container"> -->
      <div class="headerdiv">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark chilimd">
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerTarget">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <%= link_to fa_icon('bars 2x'), root_path, class: "nav-link bar" %>

          <%= link_to raw('chiliMD<span class="appversion">alpha</span>'), root_path, class: "navbar-brand" %>

          <%= link_to 'Posts', posts_path, class: "nav-link" %>

          <%= link_to 'Media', media_path, class: "nav-link nav-left" %>

          <%= simple_form_for :content, method: :get, url: contents_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
            <select name="model_name" class="form-control navdropdownfield" style="margin-right: 5px; background-color: transparent; color: white; border-color: mistyrose;">
              <option value="all">All</option>
              <option value="posts">Posts</option>
              <option value="media">Media</option>
              <option value="images">Images</option>
              <option value="audios">Audios</option>
              <option value="videos">Videos</option>
              <option value="users">Users</option>
            </select>
            <input class="form-control navsearchbar" name='search_term' type="search" placeholder="Search" style="margin-right: 10px; background-color: transparent; color: white; border-color: mistyrose;" autofocus>
            <button class="btn searchbutton" type="submit"><%= fa_icon('search 2x') %></button>
          <% end %>

          <% if user_signed_in? %>
            <span class="nav-link">Hello, <%= link_to current_user.first_name, current_user %>!</span>

            <%# if current_user.is_admin? %>
              <%#=link_to 'Dashboard', admin_dashboard_index_path, class: "nav-link" %>

            <%# end %>
            <%= link_to(
              'Sign Out',
              destroy_user_session_path,
              method: :delete,
              data: {confirm: 'Do you really want to sign out?'},
              class: "nav-link signout"
              ) %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>

            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
          <% end %>
        </nav>
      </div>
      <div class="sidebar hidesidebar">
        <p><%= fa_icon('file') %> <%=link_to 'New Post', new_post_path %></p>
        <p><%= fa_icon('upload') %> <%=link_to 'New Medium', new_medium_path %></p>
      </div>

      <div class="maindiv">
        <div class="container">
          <% if flash[:notice].present?%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%=flash[:notice] %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% elsif flash[:alert].present?%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%=flash[:alert] %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </div>
        <div class="yield container">
          <%= yield %>
        </div>
      </div>
    <!-- </div> -->
  </body>
</html>
